.clearfix:after {
	content: "";
	display: block;
	clear:both;
}

body {
  background-image: url("../images/dust_scratches.png");
  background-repeat: repeat;
  background-color: #ffffff;
}

h2, h3 {
  border-bottom: solid;
  border-color: #cccccc;
  color: #4aaaa5;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

header {
  border-bottom: solid;
  border-color: #cccccc;
  background-color: #ffffff;
  margin-bottom: 30px;
}

#headContain {
  width: 960px;
  margin: 0 auto;
}

h1 {
  background-color: #4aaaa5;
  font-size: 28px;
  color: #ffffff;
  width: 30%;
  padding: 20px;
  text-align: center;
  float: left;
}

nav {
  float: right;
}

li {
  float: left;
  margin: 25px 0px; 
  padding: 0 10px;
  border-right: solid;
  border-right-width: thin;
  color: #777777;
}

li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #444444;
}

.container, footer, nav {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: #777777;
  width: 960px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 50px;
  clear: both;
}

#bio {
  width: 650px;
  float: left;
  background-color: #ffffff;
  border-color: #dddddd;
  border: solid;
  margin-right: 20px;
}

h2 {
  font-size: 28px;
  padding: 15px 5px;
  margin: 20px;
}

#bio p {
  margin: 20px;
}

#bio img {
  float: left;
  margin-right: 15px;
}

#social {
  width: 270px;
  float: left;
  background-color: #ffffff;
  border-color: #dddddd;
  border: solid;
}

h3 {
  font-size: 20px;
  padding: 15px 5px;
  margin: 25px;
  text-align: center;
}

#social img {
  float:left;
  display: block;
  margin: 0 auto;
  width: 25%;
  padding: 0px;
}

span {
  text-align: center;
}

#social p {
  margin: 15px;
  
  /*padding: 20px;*/
}

footer {
  background-color: #666666;
  color: #777777;
  border-top: #4aaaa5 solid 10px;
  padding: 25px;
  text-align: center;
  margin-top: 30px;
  height: 100%;
  clear: both;
}